$break-mobile: 420px;
$break-desktop: 776px;

.navbar-nav {
    background-color: #7D7C7C;
    display: none;
}

.nav-item {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    border:solid black 2px;
}

.toggleMenu {
    display: block;

}

@media screen and (min-width:$break-desktop){
    .navbar-nav {
        display: inline-block;
    }
    .nav-toggler{
        display: none;
    }
}
