$break-mobile: 420px;
$break-desktop: 776px;

.navbar {
    height: 60px;
}

.navbar-nav {
    display: none;
}

.nav-item {
    background-color: #7D7C7C;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: .4em;
    border:solid black 1px;
}

.toggleMenu {
    display: block;

}

.nav-link  {
    padding: .3em 1em;

}

#menu-icon-close {
    color: white;
}

@media screen and (min-width:$break-desktop){


    .navbar-nav {
        display: inline-block;
    }
    .nav-toggler{
        display: none;
    }
}
